@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary: 26deg 100% 55%;
    --on-primary: 26deg 100% 55%; 
    --primary-light: 25deg 100% 94%;
    --Very-dark-blue: 220deg 13% 13%;
    --background: 223deg 64% 98%;
    --Dark-grayish-blue: 219deg 9% 45%;
    --Grayish-blue: 220deg 14% 75%;
    --White: 0deg 0% 100%;
    --modal-background: 0deg 0% 0%;
  }
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 10px;
  width: calc(60% - 40px);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  outline: 2px solid hsl(26, 100%, 55%);
  margin-inline: auto;
  position: static;
}
.swiper-scrollbar-drag {
  background-color: hsl(26, 100%, 55%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 20px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}
.swiper-slide-thumb-active {
  transition: 100ms;
  border: 3px solid hsl(26, 100%, 55%);
}
.swiper-slide-thumb-active::before {
  background-color: hsla(0deg 0% 100% / 0.75);
}